body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1197px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2259px;
}
#u3803 {
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2259px;
}
#u3804 {
  position:absolute;
  left:2px;
  top:1122px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
