body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1621px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:643px;
}
#u6705 {
  position:absolute;
  left:0px;
  top:2169px;
  width:1621px;
  height:643px;
}
#u6706 {
  position:absolute;
  left:2px;
  top:314px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:716px;
}
#u6707 {
  position:absolute;
  left:0px;
  top:1492px;
  width:1621px;
  height:716px;
}
#u6708 {
  position:absolute;
  left:2px;
  top:350px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:727px;
}
#u6709 {
  position:absolute;
  left:0px;
  top:765px;
  width:1621px;
  height:727px;
}
#u6710 {
  position:absolute;
  left:2px;
  top:356px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:778px;
}
#u6711 {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:778px;
}
#u6712 {
  position:absolute;
  left:2px;
  top:381px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
