body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1621px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8440 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:643px;
}
#u8441 {
  position:absolute;
  left:0px;
  top:2169px;
  width:1621px;
  height:643px;
}
#u8442 {
  position:absolute;
  left:2px;
  top:314px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:716px;
}
#u8443 {
  position:absolute;
  left:0px;
  top:1492px;
  width:1621px;
  height:716px;
}
#u8444 {
  position:absolute;
  left:2px;
  top:350px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:727px;
}
#u8445 {
  position:absolute;
  left:0px;
  top:765px;
  width:1621px;
  height:727px;
}
#u8446 {
  position:absolute;
  left:2px;
  top:356px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:778px;
}
#u8447 {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:778px;
}
#u8448 {
  position:absolute;
  left:2px;
  top:381px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
