body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1621px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:643px;
}
#u5677 {
  position:absolute;
  left:0px;
  top:2169px;
  width:1621px;
  height:643px;
}
#u5678 {
  position:absolute;
  left:2px;
  top:314px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:716px;
}
#u5679 {
  position:absolute;
  left:0px;
  top:1492px;
  width:1621px;
  height:716px;
}
#u5680 {
  position:absolute;
  left:2px;
  top:350px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:727px;
}
#u5681 {
  position:absolute;
  left:0px;
  top:765px;
  width:1621px;
  height:727px;
}
#u5682 {
  position:absolute;
  left:2px;
  top:356px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:778px;
}
#u5683 {
  position:absolute;
  left:0px;
  top:0px;
  width:1621px;
  height:778px;
}
#u5684 {
  position:absolute;
  left:2px;
  top:381px;
  width:1617px;
  visibility:hidden;
  word-wrap:break-word;
}
