body {
  margin:0px;
  background-color:rgba(243, 244, 246, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:656px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:656px;
}
#u1 {
  position:absolute;
  left:2px;
  top:320px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:38px;
}
#u2 {
  position:absolute;
  left:832px;
  top:416px;
  width:204px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:46px;
}
#u4 {
  position:absolute;
  left:805px;
  top:181px;
  width:252px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:80px;
  background:inherit;
  background-color:rgba(112, 185, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:130px;
  top:100px;
  width:390px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:150px;
  top:118px;
  width:353px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
